.card {
  /* border: 2px solid rgb(0, 255, 30); */
  position: relative;
  background: #fff;
  height: 270px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.cardBadge {
 
  background: #00c4cc;
  color: #fff;
  font-size: 12px;
  padding:4px;
  border-radius: 20px;
  width: 30px;
  text-align: center;
}

.cardContent {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100%;
  width: 50%;
  padding: 10px;
  font-family: sans-serif;
  
}



.cardText h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.cardText p {
  margin: 5px 0;
  color: #555;
}

.cardPrice {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin-top: 10px;
}

.cardImg  {
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
}

.cardImg img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}
.mobileName{
  font-size: 25px;
  font-weight: bolder;
  margin-top:10px;
  margin-bottom: 10px;
  
}
.mobileDesc{
  font-size: 16px;
  color: #989898;
 
}